* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans-serif: system-ui, sans-serif;
  --ff-serif: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small",
    serif;

  --text: hsl(0, 0%, 4%);
  --background: hsl(30, 20%, 98%);
  --primary: hsl(34, 73%, 60%);
  --secondary: hsla(from var(--primary) h s l / 0.8);
}

body {
  align-items: center;
  background-color: hsla(from var(--primary) h s l / 0.15);
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-sans-serif);
  min-height: 100vh;
  justify-content: space-between;
  line-height: 1.5;
  position: relative;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: var(--ff-serif);
}

#content {
  flex: 1;
  margin-top: calc(50px + 1.5em + 2px);
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 720px;
  padding-inline: 1em;
  padding-block: 1.5em 2em;
  min-height: 100%;
}

header {
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  padding: 0.8em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 10px 10px -10px var(--text);
}

footer {
  background-color: var(--background);
  box-shadow: 0 0 10px var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-inline: 0.4em;
  min-height: 50px;

  & button {
    border: 2px solid transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    padding: 0.4em 1.5em;
    border-radius: 4px;

    &.active {
      background-color: var(--primary);
      font-weight: 600;
    }
  }
}

/* ----HOME PAGE---- */

.hours {
  background-color: var(--secondary);
  border-radius: 4px;
  padding: 1rem;
  min-width: 300px;

  & p {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
  }

  h3 {
    margin-bottom: 1em;
  }
}

.tagline {
  text-align: center;
}

.description {
  padding: 2rem;
  text-align: center;
  max-width: 60ch;
}

/* ----MENU PAGE---- */

.dish-container {
  align-items: center;
  border-radius: 5px;
  margin-top: 0.5em;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-height: 300px;
  justify-content: center;
  padding: 0.5rem 0.2em;
  min-width: 300px;
  box-shadow: 4px 4px 5px hsla(from var(--text) h s l / 0.2);

  & .credit {
    font-size: 0.7em;
    padding: 0;
    margin-top: 0.5em;
  }
}

.dish-price,
.dish-name {
  font-weight: 700;
  font-family: var(--ff-serif);
  font-size: 1.25em;
}

.dish-img {
  background-position: center;
  background-size: cover;
  height: 220px;
  width: 300px;
  border-radius: 5px;
}

.bruschetta {
  background-image: url("./images/bruschetta.webp");
}

.caprese-salad {
  background-image: url("./images/caprese-salad.webp");
}

.margherita-pizza {
  background-image: url("./images/margherita-pizza.webp");
}

.spaghetti-bolognese {
  background-image: url("./images/spaghetti.webp");
}

.fettuccine-alfredo {
  background-image: url("./images/fettuccine-alfredo.webp");
}
.tiramisu {
  background-image: url("./images/tiramisu.webp");
}

.gelato {
  background-image: url("./images/gelato.webp");
}

/* ----CONTACT PAGE---- */

.contact-page-img {
  background-image: url("./images/contact-page-img.webp");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid var(--text);
  box-shadow: 4px 4px 5px hsla(from var(--text) h s l / 0.2);
  height: 50vh;
  position: relative;
  width: 100%;
}

.contact-page-img > p {
  bottom: 0;
  margin-right: 0.5rem;
  position: absolute;
  right: 0;
  color: var(--background);

  & :any-link {
    color: var(--background);
  }
}

.contact-info {
  background-color: var(--secondary);
  border-radius: 4px;
  height: 180px;
  padding: 1rem;
  max-width: 320px;
  margin-right: auto;
}

:any-link {
  color: var(--text);
}

.credit {
  align-self: flex-end;
  font-size: 0.8em;
  padding: 0.5rem 0;
}
